.eventDetailsPage {
    ul {
        list-style-type: none;
    }
    .event-table-row-description {
        background-color: #c0c0c0;
        border-radius: 5px;
        border: solid 1px #000000;
        height: 40px;
        margin: 15px 0;
        padding: 7px 0;
    }
    .description {
        ul {
            min-height: 300px;
            li {
                border-bottom: none;
                b {
                    margin-right: 4px;
                }
            }
        }
    }
    .event-actions {
        i {
            font-size: 1.5em;
        }
        ul {
            margin-top: 54px;
            li {
                height: 33px;
            }
        }
    }
    .attach-image {
        padding-top: 15px;
        .card {
            img {
                padding: 7px;
            }
        }
        textarea {
            border-radius: 10px;
        }
    }
    .button-send-fix {
        width: 100%;
        margin-top: 10px;
    }
    .message-sent-confirm {
        margin-top: 10px;
    }
}