.indexPage {

  .col-title-row {
    padding: 10px;
    background: #e9ecef;
    p {
      margin: 5px;
      font-weight: bold;
    }
  }
  .one-event {
    margin-top: 2px;
    p {
      margin: 5px;
    }
    button {
      margin: 5px;
    }
      //background-color: #90caf9;
    border: 1px solid black;
    border-radius: 3px;
  }
}