@import "_dev";
@import "_cleanup";
@import "_eventDetailsPage";
@import '_serviceRequestOpen';
@import "_index";
input {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

.btn-primary {
    background-color: #90caf9;
}
.btn-disabled {
    border: solid #aaaaaa 1px;
}