* {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    width: auto;
    height: 40px;
}
.breadcrumbs ol {
    margin: 0;
}
.breadcrumb {
    width: 79%;
    position: relative;
    float: left;

}

.v {
    padding: 0;
    margin: 0;
}
.v>img{
    height: auto;
    /*padding: 15px;*/
    width: 30%;
    padding: 0;
    margin: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    height: 200%;
    /*padding: 15px;*/
    width: auto;
    margin-right: 10px;

    padding: 0;
}
#icons > li > a > img{
    height: 30px;

}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-toggle {
    z-index: 1;
}

#navbar9 {
    padding: 0;
    margin: 0;
}
/*search*/

#custom-search-input{
    position: relative;
    float: left;
    margin-left: 1%;
    width: 20%;
    position: relative;
    border: solid 1px #E4E4E4;
    border-radius: 3px;

    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}




.table {
    position: relative;
    /*width: auto;*/
    /*height: 50px;*/
    background: #D3D3D3;
}
.table ul{
    margin: 1%;
    background: #D3D3D3;
}
.table ul li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6%;
    color: gray;
    display: inline-block;
    padding: 0 1%;
    z-index: 129;
    font-family: "Arial", serif;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}


#eventsAdded {
    position: relative;
    margin: 1%;
}


.eventAdded {
    margin: 1px 10px 0;

    padding: 10px;
    background: #f1eaea;
    text-align: left;
    color: black;

}
.eventAdded p {
    display : inline;
    text-align: left;
    font-family: "Arial", serif;
    line-height: 2px;
}
.eventAdded p:first-child {
    display : inline;
    text-align: left;
    margin-right: 12%;
    margin-left: 2%;
    font-family: "Arial", serif;
    line-height: 2px;
}
.eventAdded p:nth-child(2){
    margin-right: 8%;
}
.eventAdded p:nth-child(3){
    margin-right: 6%;
}
.eventAdded p:nth-child(4){
    margin-right: 12%;
}
.eventAdded p:nth-child(5){
    margin-right: 12%;
}
.eventButtons {
    background: #f1eaea;
    border: none;
    cursor: pointer;
    margin-left: 7px;
}
.eventButtons img {
    max-height: 25px;
}